<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/checkout.css">
</head>
<body>
    <div class="cont">   
       <h1>YourStore
       </h1>
       <!-- <span style="color:rgb(239, 123, 8)">Your number-one market place</span> -->
      <div class="buttons">
          <div class="login">
              <p>Login to continue</p>
              <a href="./login"><button>Login</button></a>
          </div>  
           <div class="logout">
            <p>Logout</p>
            <a href="./logout"> <button>Logout</button></a>
           </div>
      </div>
    </div>
     
        <div class="our_services">
            <h1> Our services</h1>
            <div class="our_service_content">
                <div class="sec_indiv">
                    <p>different foods Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquid quaerat, eligendi molestiae necessitatibus, laborum temporibus deleniti animi impedit dignissimos, suscipit natus! Adipisci laborum exercitationem o
                        dio rem et perspiciatis ipsa Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, veritatis beatae sequi ipsam ut earum quos consequuntur amet officiis aliquid quibusdam nisi sint? Accusantium perspiciatis suscipit
                         magnam totam impedit omnis.</p>
                     <img src="img/all phones/groceries_260x144.png" class="service_img">    
                </div>
                <div class="sec_indiv_two">
                 <img src="img/all phones/video-games_260x144.png" class="service_img"> 
                    <p>Check out all of our collections. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quibusdam incidunt voluptas eaque unde repellendus, sunt aut totam at ipsum delectus vitae pariatur odit voluptatem laudantium enim ipsa suscipit dolorum.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam assumenda vel a, cum dicta mollitia harum veritatis labore voluptates aperiam. Et adipisci cupiditate sint nulla ad consequatur, eveniet nostrum fugiat.

                    </p>
                </div>
                <div class="sec_indiv">
                 <p>Rental services Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat voluptatum aliquid est officiis autem. Corrupti dicta id ex, ratione quia eveniet velit vel, deleniti nemo, consequuntur repellat minus illo officiis?
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo ratione quis consectetur qui, ex id esse voluptatibus. Similique explicabo animi omnis? Quae laborum itaque magni quasi praesentium deleniti aperiam.
                     
                 </p>
                  <img src="img/all phones/sneakers_260x144.png" class="service_img"> 
                </div>
                <div class="sec_indiv_two">
                 <img src="img/all phones/the-good-times_260x144.png" class="service_img"> 
                    <p>yourstore-pay...you can now use our website to
                        make payments to all over the world Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, ratione impedit ea atque quis earum amet, repudiandae quas vel adipisci ipsum error et. Quo sunt cum voluptatem libero neque deleniti.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quasi quam maxime necessitatibus ipsa est placeat sint voluptate assumenda, corporis cupiditate, quidem cumque, natus reiciendis itaque distinctio aliquid beatae. Veritatis!
                    </p>
                </div>
           
        
    </div>
    </div>
</body>
</html>