<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- <link rel="stylesheet" href="home.css"> -->
     <link rel="stylesheet" href="css/homepage.css">
    <!-- <script src="indexHome.js" defer></script> -->
</head>
<body>
      <div class="cont">
          <nav>
              <h2>Your<span class="store">Store</span></h2>
              <div class="all_nav_lists">
                <ul>
                    <li><a href="./home">HOME<img class="icons"src="icons/solid/angle-down.svg"></img></a</li>
                    <li><a href="./user">USER<img class="icons"src="icons/solid/angle-down.svg"></img></a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
              </div>
               
           <!-- <div class="cart_value" >
               <a href="./customer" class="cart_link">
                <img class="icons cart"src="icons/solid/cart-shopping.svg"></img>
                <div class="circle_mobile">0</div>
               </a>
            
           </div> -->
           <div class="cart_value_mobile" >
            <a href="./user" class="cart_link_mobile">
             <img class="icons cart"src="icons/solid/cart-shopping.svg"></img>
             <sup class="circle">0</sup>
            </a>
         
        </div>
          <img src="icons/solid/angle-down.svg" class="icons logo" alt="">
          </nav>
          <!-- all these code will structure the mobile view of the website
          all these code will structure the mobile wire of the website
          all these code will stucture the mobile view of the website
          all these code will structure the mobile view of the website
        all these code will structure the mobile view of the website -->
    
          <div class="section_for_mobile">
              <div class="mobile_images">
                  <img src="img/all phones/video-games_260x144.png" alt="" class="mobile_image_indiv">
                  <img src="img/all phones/samsung_260x144 (1).jpg" alt=""  class="mobile_image_indiv">
                  <img src="img/all phones/groceries_260x144.png" alt=""  class="mobile_image_indiv">
                  <img src="img/all phones/table-tennis_260x144.png" alt=""  class="mobile_image_indiv">
              </div>
              <div class="markdown">
                <ul>
                    <li><a href="./home">HOME<img class="icons"src="icons/solid/angle-down.svg"></img></a</li>
                    <li><a href="./user">USER<img class="icons"src="icons/solid/angle-down.svg"></img></a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
              </div>
          </div>
          <div class="small_for_mobile">
            <div class="little_notee_for_mobile">
                SPECIAL OFFERS
            </div>
            <div class="st_section_for_mobile">
                <img class="indiv_section0 first_s" src="img/all phones/accessories-warehouse_260x144v2.png"></img >
                <img class="white_part" src="img/all phones/groceries_260x144.png"></img >
               <img class="indiv_section0 first_s" src="img/all phones/baby-products_260x144v2.png"></img >
                <img class="white_part" src="img/all phones/packaged-foods_260x144.png"></img >
               <img class="indiv_section0 first_s" src="img/all phones/the-good-times_260x144.png"></img >
                <img class="white_part" src="img/all phones/mamaspriderice_572x250.png"></img >
               <img class="indiv_section0 first_s" src="img/FB_IMG_16041718789400451.jpg"></img >
                <img class="white_part" src="img/all phones/personal-care_260x144.png"></img >
               <img class="indiv_section0 first_s" src="img/all phones/samsung_260x144 (1).jpg"></img >
                <img class="white_part" src="img/all phones/large-capacity_260x144.png"></img >
               <img class="indiv_section0 first_s" src="img/all phones/sneakers_260x144.png"></img >
                <img class="white_part" src="img/all phones/video-games_260x144.png"></img >
                <img class="indiv_section0 first_s" src="img/all phones/table-tennis_260x144.png"></img >
                <img class="white_part" src="img/all phones/ipad_260x144.png"></img >
               <img class="indiv_section0 first_s" src="img/all phones/spices_260x144.png"></img >
                <img class="white_part" src="img/all phones/furniture-storage_260x144.png"></img >
            </div>
            <div class="nd_section_for_mobile">
                 <img class="white_part" src="img/all phones/furniture-storage_260x144.png"></img >
                <img class="indiv_section0 second_s" src="img/all phones/spices_260x144.png"></img >
                <img class="white_part" src="img/all phones/ipad_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/table-tennis_260x144.png"></img >
                <img class="white_part" src="img/all phones/video-games_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/sneakers_260x144.png"></img >
                <img class="white_part" src="img/all phones/large-capacity_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/samsung_260x144 (1).jpg"></img >
                <img class="white_part" src="img/all phones/personal-care_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/FB_IMG_16041718789400451.jpg"></img >
                <img class="white_part" src="img/all phones/mamaspriderice_572x250.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/the-good-times_260x144.png"></img >
               <img class="white_part" src="img/all phones/packaged-foods_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/baby-products_260x144v2.png"></img >
                <img class="white_part" src="img/all phones/groceries_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/accessories-warehouse_260x144v2.png"></img >
            </div>
            </div>
            <div class="note_for_mobile">
                <div class="para">Welcome to <span class="your">your</span> number one <span class="store_mobile">Store</span>, where you 
                    get <span class="quality">quality</span>  products at a cheap rate. Check out our <span class="collec">collections<img class="icons"src="icons/solid/angle-down.svg"></img></span></div>
                    <img class="note_image_bfore" src="img/all phones/video-games_260x144.png"></img > 
                    <div class="imag">
                        <img class="note_image" src="img/all phones/video-games_260x144.png"></img > 
                        <img class="note_image1" src="img/all phones/video-games_260x144.png"></img >
                    </div>
                    
                       
            </div>
            
             <!-- all the code above will structure the mobile view of the website
             all the code above will structure the mobile view of the websiteall
             all the code above will structure the mobile view of the websire
             all thecode above wikll structure the mobile view of the websitea
             all the code above will structure the moboile view of he website
             all the code above will structure the mobile view of the website
             all the code aboive wqikll stryctyure the mobile view if the werbsite -->



          <section>
              <div class="contentNote">
               <h1 class="CATE_HEAD"> All categories</h1>
               <div class="all_cate_lists">
                    <ul>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Phones & tablets</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Baby products</a></li>
                        <li><a href="#">Computing</a></li>
                    </ul>
                   </div>
               
              </div>
              <div class="slider">
                  <button class="slider_but plus"> <img class="icons button"src="icons/solid/angle-left.svg"></img></button>
                  <div class="slider_content">
                    <div class="ALL_IMAGES">
                       
                    </div>
                    <div class="circles_slider">
                        <div class="circle_slide"></div>
                        <div class="circle_slide"></div>
                        <div class="circle_slide"></div>
                        <div class="circle_slide"></div>
                        <div class="circle_slide"></div>
                    </div>
                  </div>
                 
                  <button class="slider_but minus"> <img class="icons button"src="icons/solid/angle-right.svg"></img></button>
              </div>
               
          </section>
        
          <div class="small">
            <div class="st_section">
                <img class="indiv_section0 first_s" src="img/all phones/accessories-warehouse_260x144v2.png"></img >
                <img class="white_part" src="img/all phones/groceries_260x144.png"></img >
               <img class="indiv_section0 first_s" src="img/all phones/baby-products_260x144v2.png"></img >
                <img class="white_part" src="img/all phones/packaged-foods_260x144.png"></img >
               <img class="indiv_section0 first_s" src="img/all phones/the-good-times_260x144.png"></img >
                <img class="white_part" src="img/all phones/mamaspriderice_572x250.png"></img >
               <img class="indiv_section0 first_s" src="img/FB_IMG_16041718789400451.jpg"></img >
                <img class="white_part" src="img/all phones/personal-care_260x144.png"></img >
               <img class="indiv_section0 first_s" src="img/all phones/samsung_260x144 (1).jpg"></img >
                <img class="white_part" src="img/all phones/large-capacity_260x144.png"></img >
               <img class="indiv_section0 first_s" src="img/all phones/sneakers_260x144.png"></img >
                <img class="white_part" src="img/all phones/video-games_260x144.png"></img >
                <img class="indiv_section0 first_s" src="img/all phones/table-tennis_260x144.png"></img >
                <img class="white_part" src="img/all phones/ipad_260x144.png"></img >
               <img class="indiv_section0 first_s" src="img/all phones/spices_260x144.png"></img >
                <img class="white_part" src="img/all phones/furniture-storage_260x144.png"></img >
            </div>
            <div class="little_notee">
                SPECIAL OFFERS
            </div>
            <div class="nd_section">
                 <img class="white_part" src="img/all phones/furniture-storage_260x144.png"></img >
                <img class="indiv_section0 second_s" src="img/all phones/spices_260x144.png"></img >
                <img class="white_part" src="img/all phones/ipad_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/table-tennis_260x144.png"></img >
                <img class="white_part" src="img/all phones/video-games_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/sneakers_260x144.png"></img >
                <img class="white_part" src="img/all phones/large-capacity_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/samsung_260x144 (1).jpg"></img >
                <img class="white_part" src="img/all phones/personal-care_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/FB_IMG_16041718789400451.jpg"></img >
                <img class="white_part" src="img/all phones/mamaspriderice_572x250.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/the-good-times_260x144.png"></img >
               <img class="white_part" src="img/all phones/packaged-foods_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/baby-products_260x144v2.png"></img >
                <img class="white_part" src="img/all phones/groceries_260x144.png"></img >
               <img class="indiv_section0 second_s" src="img/all phones/accessories-warehouse_260x144v2.png"></img >
            </div>
            </div>
            <div class="new_section">
            <div class="container_modal">
                <div class="modal_cont">
                    <div class="img_box"></div>
                    <h1>Item title</h1>
                    <span class="item_price">$100</span>
                    <p>
                        Item description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis saepe consequuntur quaerat ratione soluta repellendus eius debitis! Illum ea sint facilis reprehenderit laboriosam iusto. Eum, in! Fuga omnis autem unde?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequuntur ratione atque, nostrum aliquid vitae nulla ullam corporis doloribus, ut illum vel mollitia saepe voluptatem qui consectetur unde modi culpa.
        
                    </p>
                    <div class="modal_buttons">
                        <!-- <button type="submit" class="add_to_cart">Add to cart</button> -->
                        <button type="submit" class=" close">Close modal</button>
                    </div>
            
                </div>
               
             </div>
    <div class="flash_sales_section">
           <div class="flash_header">
               <span class="flash_note"><img class="icons button"src="icons/solid/angle-left.svg"></img>Flash sales</span>
               <div class="timer">15hrs:30mins:10secs</div>
           </div>
           <div class="flash_contents">
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
            <div class="flash_item">
                <div class="flash">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="item_image">
                    <div class="item_name">fancy sweater</div>
                    <div class="price_tag">$20</div>
                    <div class="price_before">$24</div>
                </div>
                <button class="add_to_cart">Add to cart</button>
            </div>
           </div>
        </div>
        </div>
           <div class="our_services">
               <h1> Our services</h1>
               <div class="our_service_content">
                   <div class="sec_indiv">
                       <p>Food deliver. this will have scrollable images of different foods Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquid quaerat, eligendi molestiae necessitatibus, laborum temporibus deleniti animi impedit dignissimos, suscipit natus! Adipisci laborum exercitationem o
                           dio rem et perspiciatis ipsa Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, veritatis beatae sequi ipsam ut earum quos consequuntur amet officiis aliquid quibusdam nisi sint? Accusantium perspiciatis suscipit
                            magnam totam impedit omnis.</p>
                        <img src="img/FB_IMG_16041718789400451.jpg" class="service_img">    
                   </div>
                   <div class="sec_indiv_two">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="service_img"> 
                       <p>Check out all of our collections. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quibusdam incidunt voluptas eaque unde repellendus, sunt aut totam at ipsum delectus vitae pariatur odit voluptatem laudantium enim ipsa suscipit dolorum.
                           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam assumenda vel a, cum dicta mollitia harum veritatis labore voluptates aperiam. Et adipisci cupiditate sint nulla ad consequatur, eveniet nostrum fugiat.

                       </p>
                   </div>
                   <div class="sec_indiv">
                    <p>Rental services Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat voluptatum aliquid est officiis autem. Corrupti dicta id ex, ratione quia eveniet velit vel, deleniti nemo, consequuntur repellat minus illo officiis?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo ratione quis consectetur qui, ex id esse voluptatibus. Similique explicabo animi omnis? Quae laborum itaque magni quasi praesentium deleniti aperiam.
                        
                    </p>
                     <img src="img/FB_IMG_16041718789400451.jpg" class="service_img"> 
                   </div>
                   <div class="sec_indiv_two">
                    <img src="img/FB_IMG_16041718789400451.jpg" class="service_img"> 
                       <p>yourstore-pay...you can now use our website to
                           make payments to all over the world Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, ratione impedit ea atque quis earum amet, repudiandae quas vel adipisci ipsum error et. Quo sunt cum voluptatem libero neque deleniti.
                           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quasi quam maxime necessitatibus ipsa est placeat sint voluptate assumenda, corporis cupiditate, quidem cumque, natus reiciendis itaque distinctio aliquid beatae. Veritatis!
                       </p>
                   </div>
               </div>
           </div>
           <div class="our_services_for_mobile">
            <h1> Our services</h1>
            <div class="our_service_content_mobile">
                <div class="sec_indiv_mobile">
                    <p>Food deliver. this will have scrollable images of different foods Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquid quaerat, eligendi molestiae necessitatibus, laborum temporibus deleniti animi impedit dignissimos, suscipit natus! Adipisci laborum exercitationem o
                        dio rem et perspiciatis.</p>
                     <img src="img/FB_IMG_16041718789400451.jpg" class="service_img_mobile">    
                </div>
                <div class="sec_indiv_two_mobile">
                    <p>Check out all of our collections. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus voluptas reiciendis ratione, eum, odio obcaecati quidem optio totam a esse quas tempora repudiandae voluptatem iste. Doloremque aut possimus odit omnis.
                        Lorem ipsum dolor sit amet consectetur 
                    </p>
                 <img src="img/FB_IMG_16041718789400451.jpg" class="service_img_mobile"> 
                   
                </div>
                <div class="sec_indiv_mobile">
                 <p>Rental services Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus facere tempore necessitatibus blanditiis consectetur porro officia assumenda animi, deleniti perferendis eaque voluptates fugit qui maxime quas fuga. Temporibus, error beatae?
                     Lorem ipsum dolor sit, amet consectetur adipis!
                 </p>
                  <img src="img/FB_IMG_16041718789400451.jpg" class="service_img_mobile"> 
                </div>
                <div class="sec_indiv_two_mobile">
                    <p>yourstore-pay...you can now use our website to
                        make payments to all over the world. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere natus obcaecati et quisquam pariatur sapiente totam vel, in alias deleniti! Rem officia aut nulla perspiciatis reiciendis laboriosam. Enim, nulla distinctio?
                        Lorem ips
                    </p>
                 <img src="img/FB_IMG_16041718789400451.jpg" class="service_img_mobile"> 
                    
                </div>
            </div>
        </div>
           <div class="all_footer">
               <div class="footer_one">
                   <form action="" method="post">
                   <div class="p_tag">Do you have any complaints about a product 
                    delivered to you? you can send us a message</div> 
                    <div class="message_div">
                      <textarea name="textarea" placeholder="enter your text..." class="messageee"></textarea>
                        <button type="submit">Send</button>
                    </div>
                </form>
               </div>
               <div class="footer_two"></div>
           </div>
          
    </div>
    <!-- food delivery
    deliver accross the country
    best deals on tech products
    quality clothings/ first class clothings

    what are you waiting for...check out all our categories -->



    <!-- footer containing little details about us
     how to reach us on social media -->
      </div>
      <!-- <script src="home.js" defer></script> -->
       <script src="css/javascript/home.js" defer></script>
</body>
</html>