<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/auth.css">
</head>
<body>
    <img src="img/FB_IMG_16164929014627354.jpg">
        <div class="secondForm">
            <form method="post"action="/login" class="cont2">
                <h3 class="who">Welcome! Login to your account</h3>
                <label>
                     Email account
                     <input required type="email" name="email" placeholder="Your Email...">
                 </label>
                 <br>
                 <label>
                     Password
                     <input required type="password" name="password" placeholder="Your password...">
                 </label>
                 <br>
                 <span>Login to my account <button type="submit">Login</button></span>
                
            </form>
            <br>
            <br>
            <br>
            <span>New here? click to register <a href="./auth">Register</a></span>
        </div>
    
</body>
</html>